
nav ul
{
display: flex ;
list-style-type: none;
color:#0065FC;
}
 
img
{
max-width: 220px;
max-height: 150px;
}

p
{
line-height: 0cm;
font-size: 20px;
}

li
{
margin-right: 77px;
}
header
 {
 display: flex;
 justify-content: space-between;
}


.titr

{ 
margin-top: 25px;
width: 10px;
font-size: 15px; 
}


.money
{
border:  #F2F2F2 3px solid;
border-radius: 60px;
display: flex;
width: 130px;
height: 30px;
font-size: 15px;
}

.family
{
border:  #F2F2F2 3px solid;
border-radius: 60px;
display: flex;
width: 105px;
height: 30px;
font-size: 15px;   
}

.love
{
    display: flex;
    border:  #F2F2F2 3px solid;
    border-radius: 60px;

    width: 125px;
    height: 30px;
    font-size: 15px;
}

.pets

{
    border:  #F2F2F2 3px solid;
    border-radius: 60px;
    display: flex;
    width: 165px;
    height: 30px;
    font-size: 15px;
}

   
.dog, .heart, .baby, .billet
{
width: 20px;
height: 20px;
background-color: #deebff;
border-radius: 90px;
padding: 8px;
margin-top: -3px;
margin-left: -4px;
}



.eco, .famille, .coeur, .chien

{
margin-top: 7px;
margin-left: 8px;

}



#fi
{
    display: flex;
}


.infos

{

    display: flex;
    margin-left: auto;
}
.bulle
{
    border: 1px solid;
    border-radius: 50px;
    width: 15px;
    height: 15px;
    padding: 4px;
}
.logem
{
margin-top: 2px;
margin-left: 5px;
font-size: 20px;

}
footer
{
    display: flex;
    background-color: #F2F2F2;
}