
@font-face
{
font-family: "Raleway";
src: url('Raleway-Thin.ttf');
}

body
{
    font-family: 'Raleway';
}
nav ul
{
display: flex ;
justify-content: flex-end;
list-style-type: none;
color:#0065FC;
font-family: Raleway;
}
 
.bloc_page
{
margin-left: 50px ;
margin-right: 50px;
}

.logopos
{
margin: 0px;
}
.logo
{
width: 90px;
height: 50px;
margin: 0;
}

.titre
{
    margin: 5px;
}
.btrecher
{
    border: none;
background-color: #0065FC;

border-radius: 0px 13px 13px 0;
color: white;
height: 46px;
padding: 12px;
margin: 0px;

    /*
border: solid white;
background-color: #0065FC;
margin-left: -3px;
border-radius: 0px 13px 13px 0;
color: white;
height: 43px;
padding: 12px;*/
}
.fa-map-marker-alt
{
    background-color: #f2F2F2;
    padding: 15px;
    height: 16px;
    border-radius: 13px 0px 0px 13px;
    margin-right: -2px;
}
.ecoeco, .famfam, .romrom, .aniani
{
 font-family: 'Raleway-Thin.ttf';   
font-weight: bold;
font-size: 15px;
}
.ecoeco{
padding: 13px;
}
.famfam
{
padding: 13px;
}
.romrom
{
    padding: 13px;
}
.aniani
{
    padding: 13px;
}
input
{
height: 42px;
border: solid #F2F2F2 1px;
margin: 0px;
}



.recherche
{
display: flex;
}
p
{
line-height: 0cm;
font-size: 20px;
}

li
{
margin-right: 0px;
margin-left: 90px;
margin-top: 11px;
}
header
 {
 display: flex;
 justify-content: space-between;
}
 .groupbouton
 {
display: flex;
 }
.fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog  
  {


color: #0065FC;
background-color: #DEEBFF;
border-radius: 110px;
position: absolute;
left: 0px;
font-size: 16px;

  }
  .fa-money-bill-wave
  {
    padding: 15px 13px;
  }
  .fa-child
  {
    padding: 14px 16px;
  }
  .fa-heart
  {
    padding: 14px 15px;
  }
  .fa-dog
  {
    padding: 14px 14px;
  }

.fa-info
{
    padding: 6px 8px;
    border: #F2F2F2 solid 1px;
    border-radius: 64px;
    font-size: 8px;
    color: #0065FC;
}
.fa-star
{
    background-color: white;
    padding: 0px;
    border-left: 1px;
  
    color: #0065FC;
   
}
.soustitre
{
display: flex;
align-items: center;
}
  
 /*.eco, .fam, .love, .pets*/
 
 .filtrebouton
{

background-color: white;
border: solid #F2F2F2;
border-style: solid solid solid none;
border-radius: 200px;
max-height: 45px;
margin-left: 20px;
line-height: normal;
display: flex;
align-items: center;
justify-content: flex-end;
position: relative;
padding-right: 1%;

}

.eco
{
width: 170px;

}
.fam
{
width: 134px;
}
.love
{
width: 170px;    
}
.pets
{
width: 220px;    
}



.filtrebouton:hover
{

background-color:#F2F2F2;
}

.filtrage
{
   
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
}

.fa-star
{
color: #0065FC;
font-size: 10px;


}

article
{
   
    width: 782px;
}
aside
{
  
    width: 496px;
margin-left: 40px;
  
}
h1
{
font-family: "Raleway-Regular.ttf";
}
h4
{
    
    font-family: "Raleway-Thin.ttf";
    font-size: small;

    margin-top: 4px;
    margin-bottom: 7px;
}
.prix
{
    font-family: "Raleway-Thin.ttf";
}

aside, article

{
    background-color: #F2F2F2;
    border-radius: 20px;
    max-height: 49%;
    display: flex;
    flex-direction: column;
    
   
}
.auberge, .port, .mouette, .mer, .panier, .amina
{
    border: white  solid;
    display: flex;
    flex-flow: column;
    padding: 2px;
    border-radius: 20px;
    background-color: white;
    width: 220px;
    margin: 0px;
    height: 190px;
  
}
 .vi2, .vi3, .vi4, .vi6, .vi5, .vi1
{
    max-width: 220px;
    max-height: 115px;
    border-radius: 15px 15px 0px 0px; 
}
.pan
{
    height: 150px;
    max-width: 250px;
    border-radius: 30px 30px 0px 0px; 
}
}
article
{
    width: 900px;
    height: 800px;
   
}

.imageheberg
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between; /*espace vertical non fonctionnel*/
    height: 420px;
    padding: 30px;
    }

.pop1, .pop2, .pop3
{
    width: 115px;
    height: 135px;
    border-radius: 30px 0px 0px 30px;

}
    
.notes 
{

    display: flex;
}
.blanc, .eau, .soleil
{
    
    border: white  solid;
display: flex;
padding: 2px;
border-radius: 35px;
background-color: white;
width: 398px;
margin: auto;
height: 141px; 
}



.fa-chart-line
{
    margin-left: 138px;
}
ul
{
    list-style-type: none;
}

/*.fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog
{
position: absolute;
left: 0px;
}*/
.pop

{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 495px;
    
}
.Heberg
{
display: flex;


}

footer
{
    display: flex;
    background-color: #F2F2F2;
}

 .calanques, .marinaa
{
height: 400px;
width: 300px;
border-radius: 25px 25px 0px 0px;
}
.legheb
{

    margin-left: 10px;
}
.pomègues, .ile,  .notres, .longchamps
{

border-radius: 25px 25px 0px 0px;
}
.pomègues

{
    height: 150px;
    width: 300px;
}
.longchamps
{
    height: 180px;
    width: 300px;
}
.ile
{
    height: 150px;
    width: 300px; 
    margin-top: 13px;
}

.notres
{
    height: 150px;
    width: 300px; 
    margin-top: 13px;


}
.Activités

{
 display: flex;   
justify-content: space-between;
height: 500px;
 
}
.Dame, .longc
{
   
}
.vieuxport, .fort, .frioul, .parc, .Dame
{
    border-radius: 11px;
    margin-top: 0;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    
   
}
.vieuxport
{
    margin: 0;
}
.gr1, .gr2, 
{
display: flex;
flex-direction: column;
margin: 0px;


}

.capvieux, .capfort, .capile, .capparc, .capnotre, .caplong
{
border-radius: 0px 0px 25px 25px;
box-shadow: 5px 5px 7px 1px #f2f2f2;
padding: 20px;

}

.capnotre
{
    width: 280px;
    margin: 0;

}
