
nav ul
{
display: flex ;
justify-content: flex-end;
list-style-type: none;
color:#0065FC;
}
 
body
{
margin-left: 50px;
margin-right: 50px;
}

.logopos
{
margin: 0px;
}
.logo
{
width: 90px;
height: 50px;
margin: 0;
}
.actcolor
{
    color: black;
}
.titre
{
    margin: 5px;
}

p
{
line-height: 0cm;
font-size: 20px;
}

li
{
margin-right: 77px;
}
header
 {
 display: flex;
 justify-content: space-between;
}

  .fas  
  {
color: #0065FC;
background-color: #DEEBFF;
padding: 10px;
border-radius: 110px;
width: 11px;
height: 11px;
position: absolute;
left: 0px;
  }

.fa-info
{
    background-color: white;
    border: solid  #F2F2F2;
    border-radius: 30px;
    height: 1px;
    width: 0px;
    font-size: 9px;
}
.fa-star
{
    background-color: white;
    padding: 0px;
    border-left: 1px;
  
    color: #0065FC;
   
}
.soustitre
{
display: flex;
}
  
 /*.eco, .fam, .love, .pets*/
 
 .filtrebouton
{
 background-color: white;  
 border: solid #F2F2F2;
 border-style: solid solid solid none;
border-radius: 200px;
max-height: 32px;
margin-left: 20px;
line-height: normal;
display: flex;
align-items: center;
justify-content: flex-end;
position: relative;
padding-right: 1%;


}

.eco
{
width: 120px;

}
.fam
{
width: 100px;
}
.love
{
width: 120px;    
}
.pets
{
width: 150px;    
}





.filtrage
{
   
    display: flex;
justify-content: space-around;
width: 980px;
}

.fa-star
{
color: #0065FC;

}

aside, article

{
    background-color: #F2F2F2;
    border-radius: 20px;
    max-height: 49%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;  
   
}
.auberge, .port, .mouette, .mer, .panier, .amina
{
    border: white  solid;
    display: flex;
    flex-flow: column;
    padding: 2px;
    border-radius: 35px;
    background-color: white;
    width: 210px;
    margin: 0px;
  
}
 .vi2, .vi3, .vi4, .vi6, .vi1
{
    max-width: 210px;
    max-height: 115px;
    border-radius: 30px 30px 0px 0px; 
}
.pan
{
    height: 150px;
    max-width: 250px;
    border-radius: 30px 30px 0px 0px; 
}
}
article
{
    width: 900px;
    height: 800px;
   
}

.imageheberg
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between; /*espace vertical non fonctionnel*/
    height: 400px;
    padding: 30px;
    }

.pop1, .pop2, .pop3
{
    width: 115px;
    height: 135px;
    border-radius: 30px 0px 0px 30px;

}
    
.notes 
{

    display: flex;
}
.blanc, .eau, .soleil
{
    border: white  solid;
    display: flex;
    padding: 2px;
    border-radius: 35px;
    background-color: white;
    width: 320px;
    margin: auto;  
}


aside
{
    
    width: 330px;
    margin-left: 90px;
   
    padding: 30px;
}

.pop

{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 495px;
}
.Heberg
{
display: flex;


}

footer
{
    display: flex;
    background-color: #F2F2F2;
}

.marinaa, .calanques, 
{
height: 300px;
width: 100px;
}

.pomègues, .ile,  .notres, .longchamps
{
height: 150px;
width: 200px;
}
.Activités

{
 display: flex;   
 flex-wrap: wrap;
}
.vieuxport, .fort, .frioul, .parc, .Dame,

{

}
.gr1, .gr2, 
{
display: flex;
flex-direction: column;
margin: 0px;

}

.test
{
    border: solid;
background-image: url("lena-paulin-wH2-EJoDcV0-unsplash.jpg") no-repeat;
}